@model majulicroche.Models.Venda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section scripts {
    <!-- Outros links e scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}